body {
  margin: 0;
  padding: 0;
  color: #6088ff;
}
header .head {
  color: #6088ff;
}
.aaa1,
.aaa2 {
  height: 50px;
  width: 100%;
}
.class {
  background-color: #b98ba6;
}
.aaa1 {
  background: #c480bd;
}
.aaa2 {
  background-color: #b98ba6;
}
.rounded_top {
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.tab {
  color: #ffffff;
  width: 100px;
  height: 70px;
  margin: auto;
  background: #49ada0;
  margin-top: 5px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.submit {
  color: #ffffff;
  width: 100px;
  height: 70px;
  margin: auto;
  background: #49ada0;
  margin-top: 5px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.tab1 {
  color: #ffffff;
  width: 100px;
  height: 70px;
  margin: auto;
  background: #ad323b;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-top: 5px;
}
.submit1 {
  color: #ffffff;
  width: 100px;
  height: 70px;
  margin: auto;
  background: #49ada0;
  margin-top: 5px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-border-top-left-radius: 11px;
  -webkit-border-top-right-radius: 11px;
  -moz-border-radius-topleft: 11px;
  -moz-border-radius-topright: 11px;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  background: #07ff31;
}
.button {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background: #e7ba64;
  border: 1px solid #c59842;
  padding: 4px;
  width: 300px;
  margin: auto;
}
.button {
  border: 2px dashed #bbbbbb;
}
@media screen {
  .screen-color {
    color: green;
  }
}
@media screen and (min-width: 768px) {
  .screen-color {
    color: red;
  }
}
@media tv {
  .screen-color {
    color: black;
  }
}
@media screen and (max-width: 300px) {
  .color {
    color: #f21fff;
  }
}
@media screen and (max-width: 300px) and (max-width: 100px) {
  .color {
    color: #ff5d76;
  }
}
@media screen and (max-width: 1000px) {
  .color {
    color: #ffffff;
    background: #6088ff;
  }
}
.weird-element {
  content: ^//* some horrible but needed css hack;
}
