body {
  margin: 0;
  padding: 0;
  color: #6088ff;
}
header .head {
  color: #6088ff;
}
.aaa1,
.aaa2 {
  height: 50px;
  width: 100%;
}
.class {
  background-color: #b98ba6;
}
.aaa1 {
  background: #c480bd;
}
.aaa2 {
  background-color: #b98ba6;
}
.rounded_top {
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.tab {
  color: #ffffff;
  width: 100px;
  height: 70px;
  margin: auto;
  background: #49ADA0;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.submit {
  color: #ffffff;
  width: 100px;
  height: 70px;
  margin: auto;
  background: #49ADA0;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
