body {
  margin:  0;
  padding: 0;
  color:   #6088ff;
}

@color1: #ff5f12;
header {
  //background: darken(@color1, 20%);
  .head {
    color: #6088ff;
  }
}

.aaa1, .aaa2 {
  height: 50px;
  width:  100%;
}

@color: #c480bd;
.class {
  background-color: desaturate(spin(@color, 18), 12%);
}

.aaa1 {
  background: @color;
}

.aaa2 {
  .class;
}

//todo mixins
.rounded_top {
  -webkit-border-top-left-radius:  6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft:      6px;
  -moz-border-radius-topright:     6px;
  border-top-left-radius:          6px;
  border-top-right-radius:         6px;
}

.tab {
  color:      #ffffff;
  width: 100px;
  height: 70px;
  margin: auto;
  background: #49ADA0;
  .rounded_top;
}

.submit {
  .rounded_top;
  .tab;
}